<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body style="background-image: url('https://i.postimg.cc/m2Mwh4S5/background-image.webp'); background-size: cover; background-position: center;">

    <div class="container">
        <div class="row">
            <div class="cols-sm-8 offset-3">

                <img src="{{image}}" alt="not found" srcset="" height="600px">
            </div>
        </div>
    </div>
    
</body>
</html>
