<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1>Friends</h1>
        </div>
        <div class="card-container">
            <a href="#">
                <div class="card"> 
                    <img src="https://icon-library.com/images/friends-icon-transparent/friends-icon-transparent-2.jpg" alt="Friends Icon">
                    <h3><a href="/addFriend/{{username}}">Add Friends</a></h3>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <img src="https://i.pinimg.com/736x/b5/be/0a/b5be0a18971627a61e7cf34a34e9466c.jpg" alt="Activity Icon">
                    <h3>Add Expense</h3>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <img src="https://i.pinimg.com/736x/b5/be/0a/b5be0a18971627a61e7cf34a34e9466c.jpg" alt="Activity Icon">
                    <h3><a href="/history?curId={{curId}}">History</a></h3>
                    <!-- <h3><a href="/history">History</a></h3> -->

                    
                </div>
            </a>
        </div>
    </div>
</body>
</html>